.appContainer {
  min-height: 100vh;
  position: relative;
  display: flex;
  background: var(--lightYellowSandColor) url('/grain.png');
}

.appMain {
  max-width: var(--containerWidth);
  margin: var(--headerHeight) auto 0;
  flex: 1;
  display: flex;
  flex-direction: column;
}
