.appHome {
  background: var(--yellowSandColor) url('/grain.png');
  display: flex;
  flex: 1;
  flex-direction: column;
  padding-top: 10rem;

  .videosContainer {
    margin: 0 auto;
    max-width: 80%;

    .videoWrapper {
      display: flex;
      padding: 1rem 0;
      border-bottom: 1px var(--blackColor) dashed;

      .info {
        flex: 1;
        margin-left: 2rem;

        .title {
          font-size: 1.3rem;
          color: var(--carrotColor);
          font-weight: bold;
          margin-bottom: 1rem;
          max-width: 80%;
        }

        .sharedBy {
          font-size: 1.2rem;
          font-weight: 500;
          margin-bottom: 1rem;
        }

        .voteBar {
          display: flex;
          align-items: center;
          justify-content: space-between;
          transform: translateY(-1.5rem);
          height: 2.5rem;
        }

        .voteCount {
          margin-bottom: 1rem;

          .thumbsIcon {
            transform: scale(0.4) translate(-1rem, 3rem);

            &.thumbsUp {
              transform: scale(0.4, -0.4) translate(-1rem, -3rem);
            }
          }
        }

        .voteOperator {
          margin-bottom: 1rem;
          display: flex;


          .btn {
            outline: none;
            border: 1px #8e8e8e solid;
            border-radius: 50%;
            padding: 1rem;
            width: 5rem;
            height: 5rem;
            cursor: pointer;
            background: var(--whiteSandColor) url('/grain.png');

            &:first-child {
              margin-right: 1rem;
            }
          }
        }

        .thumbsIcon {
          background: url('/thumbs-outline.svg') center center no-repeat;
          display: inline-block;
          width: 3rem;
          height: 3rem;
          transform: scale(0.8);

          &.thumbsUp {
            transform: scale(0.8, -0.8);
          }

          &.filled {
            background-image: url('/thumbs-filled.svg');
          }
        }

        .desc {
          margin-bottom: 0.5rem;
        }
      }
    }
  }

  .announcement {
    margin: 0 auto;
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--blackColor);
  }
}
