.appHeader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 88;
  height: var(--headerHeight);
  background: #5a5f67 url('/grain.png');
  box-shadow: 0 0.1rem 0.5rem rgba(0, 0, 0, 0.25);
  border-bottom: 0.1rem solid rgba(0, 0, 0, 0.15);
  display: flex;
  align-items: stretch;

  .headerContainer {
    flex: 1;
    display: flex;
    justify-content: space-between;
    background: #4c5057 url('/grain.png');
    max-width: var(--containerWidth);
    margin: 0 auto;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .logoWrapper {
    display: flex;
    align-items: center;
    cursor: pointer;

    .appLogo {
      color: #f6edd8;
      display: inline-block;
      font-size: 6rem;
      vertical-align: middle;
      width: 7rem;
      height: 6rem;

      .svgLogo {
        width: 120px;
        height: 120px;
        transform: scale(0.6) translate(-40px, -50px);

        .svgPath {
          fill: var(--orangeColor);
        }
      }
    }

    .appTitle {
      font-size: 3.2rem;
      padding: 1.2rem 1rem 0.8rem 1rem;
      color: var(--orangeColor);
      display: inline-block;
      vertical-align: middle;
      white-space: nowrap;
      font-weight: 500;
      text-shadow: 0 0.3rem 0.3rem rgba(0, 0, 0, 0.2);

      &:focus {
        text-decoration: none;
      }
    }
  }

  .loginBar {
    display: flex;
    align-items: center;

    .greeting {
      font-size: 1.4rem;
      font-weight: 500;
      color: var(--yellowSandColor);
      margin-right: 0.6rem;
    }

    .input {
      outline: none;
      height: 3rem;
      width: 100%;
      font-size: 1.3rem;
      color: var(--blackColor);
      opacity: 0.9;
      padding: 0 1rem;
      background: #fff url('/grain.png');
      border: 1px solid #ccc;
      border-radius: 4px;
      transition: border-color ease-in-out .15s;

      &:nth-child(2) {
        margin: 0 0.4rem;
      }
    }

    .btn {
      padding: 0 1rem;
      height: 3rem;
      border: 0.1rem solid;
      outline: none;
      text-decoration: none;
      font-size: 1.3rem;
      line-height: 1.5;
      border-radius: 3px;
      cursor: pointer;

      &:nth-child(2) {
        margin: 0 0.4rem;
      }

      &.disabled {
        pointer-events: none;
        color: #8e8e8e;
        background-color: var(--yellowSandColor);
        border-color: var(--yellowSandColor);
      }

      &.primaryBtn {
        background: var(--carrotColor) url('/grain.png');
        border-color: var(--orangeColor);
        color: var(--yellowSandColor);
      }

      &.secondaryBtn {
        background: var(--yellowSandColor) url('/grain.png');
        color: var(--blackColor);
        border-color: var(--yellowSandColor);
      }
    }
  }
}
