*, ::after, ::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --headerHeight: 8rem;
  --containerWidth: 100rem;
  --orangeColor: #e68966;
  --carrotColor: #d35244;
  --blackColor: #4c5057;
  --yellowSandColor: #e6e1d0;
}

html, body {
  height: 100%;
  background: #f1f1f1;
}

html {
  color: #202020;
  font-size: 62.5%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

@media screen and (max-width: 768px) {
  .show-sm {
    display: block !important;
  }

  .hide-sm {
    display: none !important;
  }
}
