*, ::after, ::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --adi-orange: #ff5817;
  --adi-black: #202020;
  --adi-yellow: #f8e71c;
  --app-header-background-color: #fff;
}

html, body {
  height: 100%;
  background: #f1f1f1;
}

html {
  color: var(--adi-black);
  font-size: 62.5%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
